@model MyUquvMarkaz.Models.Subject

<h1>Edit Subject</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control mb-3" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TeacherId" class="form-label">Teacher</label>
        <select asp-for="TeacherId" asp-items="ViewBag.Teachers" class="form-control mb-3"></select>
        <span asp-validation-for="TeacherId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mb-3">Save</button>
    <a asp-action="Index" class="btn btn-secondary mb-3">Cancel</a>
</form>
